.medicines {
    margin: 2rem auto;
    width: 90%;
    max-width: 60rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
    font-size: 1.1rem;
}

td {
    font-size: 1rem;
}

.quantityInput {
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addButton {
    padding: 8px 12px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.addButton:hover {
    background-color: #e55b50;
}

tr:hover {
    background-color: #f9f9f9;
}

  .card {
    max-width: 100%;
    margin-top: 20px;
  }

  .name {
    font-weight: 500;
  }
  .desc {
    font-style: italic;
    max-width: 300px; /* Limits the width of the description column */
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides overflowed text */
    text-overflow: ellipsis; /* Displays ellipsis for overflowed text */
}
.price {
    font-weight: 600;
}