.button {
    display: flex;
    justify-content: center;
}

.button button {
    width: 15rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.error {
    color: red;
    margin-top: 10px;
  }
  