.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f4f4f4;
    width: 100%;
    height: 80px;
    font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif;
    border-bottom: 4px solid;
    border-color: #ff6f61;
    position: fixed;
    top: 0;
}

.header h1 {
    color: #ff6f61;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

button {
    display: flex;
    align-items: center; /* Align icon and text vertically */
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
 
}

button span {
     margin-right: 10px; 
}

button span:last-child {
    margin-right: 0;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    color: #fff; /* Text color matching the button background */
    /* padding: 5px 10px;  */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Fixed width and height to ensure circle */
    height: 30px;
}

button svg {
    width: 20px;
    height: 20px;
    margin-right: 8px; 
}

button:hover {
    background-color: #e55b50;
}
